body {
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
    color:#45a049;
}

form {
    margin: 20px auto;
    width: 80%;
}

form label {
    display: block;
    margin-top: 10px;
}

form select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

table {
    margin: 20px auto;
    width: 90%;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

button {
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-right: 5px;
   
}

button:hover {
    background-color: #45a049;
}

button.delete-btn {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.delete-btn:hover {
    background-color: #cc0000;
}
button.delete-btn, 
button.modify-btn {
    margin: 10px 10px;
}
